# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Build outputs
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# VSCode
.vscode/

# Others
*.cache
